.center {
    text-align: center;
    align-items: center;
    background-color: #2d2c2c;
    font-size: 15px;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
}

.container {
    margin: 200px;
    align-items: center;
}

.searchbar {
    background-color: #7a7777;
    height: 40px;
    border-radius: 20px;
    border: none;
    width: 100%;
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 20px;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.search-bar-parent-image{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: flex-end;

}

.search-bar-image{
    height: 20px;
    padding-top: 10px;
    margin: 5px;
    display: flex;
    flex-direction: row;
}

.search {
    height: 20px;
    position: relative;
    top: 5px;
    left: 10px;
}

.searchBarContainer {
    display: flex;
    align-items: center;
    position: relative;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: #232222;
}

.search-button:link,
.search-button:visited {
    background-color: #514e4e;
    color: white;
    padding: 5px 10px;
    margin: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.search-button:hover,
.search-button:active {
    border: 0.15px solid white;
}

.sign-in-button {
    align-items: start;
    background-color: #d5dadf;
    color: black;
    padding: 2px 4px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    border: none;
}

.sign-in-button:hover,
.sign-in-button:active {
    background-color: #a4b1be;
}

.languages {
    color: rgb(72, 137, 211);
    padding: 2px;
    text-decoration: none;
}

.languages:hover {
    text-decoration: underline;
}

.offering {
    height: 10px;
    width: 200px;
}

.header {
    background-color: #2d2c2c;
    font-size: 15px;
    color: white;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.header-item {
    display: flex;
    justify-content: space-between;
    background-color: #2d2c2c;
    padding: 10px;
}

.header-child {
    font-size: 15px;
    padding: 2px 4px;
    color: white;
    text-decoration: none;
}

.header-child-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 15px;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-item {
    display: flex;
    justify-content: space-between;
    background-color: #232222;
    padding: 10px;
}

.footer-child {
    background-color: #232222;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.footer-child-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}